p, a, h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
}

footer {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.section {
    margin-left: 100px;
    margin-top: 75px;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: goldenrod;
}

.image {
    width: auto;
    height: 100%;
}
.images {
    width: 1000px;
    height: 300px;
    /* align-content: center; */
}

ul {
    margin-left: 100px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background: #bcbcbc;
}